name: Build and test

on: pull_request

jobs:
    build-and-test:
        runs-on: ubicloud
        timeout-minutes: 10
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Prepare Node.js environment
              uses: actions/setup-node@v6
              with:
                  cache: npm
                  node-version-file: .node-version

            - name: Cache project 'node_modules' directory
              id: node-modules-cache
              uses: actions/cache@v4
              with:
                  key: node-modules-cache-${{ hashFiles('**/package-lock.json', '**/.node-version') }}
                  path: node_modules/

            - name: Install project npm dependencies
              if: ${{ steps.node-modules-cache.outputs.cache-hit != 'true' }}
              run: npm ci

            - run: npm run check
            - run: npm run build
